<div id="<%= dom_id client %>">
  <tr>
    <th scope="row"><%= client.id %></th>
    <td><%= client.name %><i class="fa-solid fa-user"></i></td>
    <td><%= client.age %></td>
    <td><%= client.movies.last %></td>
    <td><%= link_to "Editar usuario", edit_client_path(client), class: "btn btn-primary" %></td>
    <td><%= button_to "Eliminar usuario", @client, method: :delete, class: "btn btn-danger" %></td>
  </tr>
</div>